*.iml
.gradle/
.idea/
.kotlin/
build/
/captures
.externalNativeBuild/
.cxx/
local.properties
*.hprof
.DS_Store
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.apk
*.ap_
*.aab
output.json
